@using System.Globalization
@using Projects.Common.Core
@using Sitecore.ContentSearch.Utilities
@using Sitecore.Data
@model dynamic
@{
    // Creates a TextInfo based on the "en-US" culture.
    TextInfo ti = new CultureInfo("en-US", false).TextInfo;
    string facetId = (ID.IsID(@Model.Value.Name)) ? IdHelper.NormalizeGuid(@Model.Value.Item.ID) : @Model.Value.Name;
    string facetName = (@Model.Value.Item == null) ? ti.ToTitleCase(@Model.Value.Name) : @Model.Value.ItemName;
}
@if (QueryStringUtil.IsinQueryString(@Model.Category.FieldName, facetId))
{
    <a class="active" href="@QueryStringUtil.RemoveAndGetNewQueryString(@Model.Category.FieldName)">
        <span class="truncate">@facetName</span>  <i class="fa fa-times"></i>
        <span class="badge pull-right">
            @Model.Value.Aggregate
        </span>

    </a>
}
else
{
    <a href="@QueryStringUtil.AddAndGetNewQueryString(@Model.Category.FieldName, facetId)">
        <span class="truncate">@facetName</span>

        <span class="badge pull-right">
            @Model.Value.Aggregate
        </span>
    </a>
}